.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Inter", sans-serif, arial;
  font-family: "Noto Serif", serif, "Times New Roman";
  font-size: 16px;
  line-height: 20px;
}
